<script>
	import { createEventDispatcher } from 'svelte'
	import { faEye } from '@fortawesome/free-solid-svg-icons/faEye.js'
	import { faPencilAlt } from '@fortawesome/free-solid-svg-icons/faPencilAlt.js'
	import { faTrashAlt } from '@fortawesome/free-solid-svg-icons/faTrashAlt.js'

	import Button from '$lib/Button.svelte'
	import Icon from '$lib/Icon.svelte'

	export let <%= entityInstance %>
	export let showActions = false
	const dispatch = createEventDispatcher()
</script>

<div
	class="flex flex-row justify-center items-center leading-none"
	class:hidden="{!showActions}"
	data-testid="rowactions"
>
	<Button
		name="view<%= entityAngularName %>Btn"
		role="action"
		classes="sm:my-0"
		title="View"
		aria-label="view"
		on:click="{() =>
			dispatch('view<%= entityInstance %>', {
				id: <%= entityInstance %>.id,
			})}"
	>
		<Icon icon="{faEye}" />
	</Button>
	<Button
		name="edit<%= entityAngularName %>Btn"
		role="action"
		classes="sm:my-0"
		disabled="disabled"
		title="Edit"
		aria-label="edit"
		on:click="{() =>
			dispatch('update<%= entityInstance %>', {
				id: <%= entityInstance %>.id,
			})}"
	>
		<Icon icon="{faPencilAlt}" />
	</Button>
	<Button
		name="delete<%= entityAngularName %>Btn"
		role="action"
		classes="sm:my-0"
		title="Delete"
		aria-label="delete"
		on:click="{() =>
			dispatch('delete<%= entityInstance %>', {
				id: <%= entityInstance %>.id,
			})}"
	>
		<Icon icon="{faTrashAlt}" />
	</Button>
</div>
