<%_
const containsBooleanField = fields.find(field => field.fieldTypeBoolean);
const containsEnumField = fields.find(field => field.fieldIsEnum);
const containsBlobField = fields.find(field => field.fieldTypeBinary && !field.blobContentTypeText);
const containsInstantField = fields.find(field => (field.fieldTypeInstant || field.fieldTypeZonedDateTime));
const relationshipFields = relationships.filter(relationship => (
	relationship.otherEntity.primaryKey
		&& (relationship.relationshipManyToOne
			|| (relationship.relationshipOneToOne && relationship.ownerSide)
			|| (relationship.relationshipManyToMany && relationship.ownerSide))))
const containsRelationshipField = relationshipFields && relationshipFields.length;
_%>
<script>
	import { createEventDispatcher } from 'svelte'
	import { faBan, faSave } from '@fortawesome/free-solid-svg-icons'

	import { Button, Icon, InputControl<% if (containsBooleanField) { %>, CheckboxControl<% } %><% if (containsEnumField || containsRelationshipField) { %>, SelectControl<% } %> } from 'jhipster-svelte-library'
	import { Form } from 'jhipster-svelte-library/page'

	<%_	for (field of fields.filter(field => field.fieldIsEnum)) { _%>
	import <%= field.fieldType %> from '$lib/entities/enums/<%= field.fieldType.toLowerCase() %>'
	<%_ } _%>
	<%_ if (containsBlobField) { _%>
	import { getBase64FileData } from 'jhipster-svelte-library/utils'
	<%_ } _%>
	<%_ if (containsInstantField) { _%>
	import {
		formatToDatetimeLocalInput,
		parseFromDatetimeLocalInput,
	} from 'jhipster-svelte-library/utils'
	<%_ } _%>

	export let <%= entityInstance %> = {
		id: null,
		<%_	for (field of fields.filter(field => !field.id)) { _%>
		<%= field.fieldName %>: '',
		<%_ } _%>
		<%_ for (const relationship of relationshipFields) {
		_%>
		<%_ if (relationship.relationshipManyToMany) {_%>
		<%= relationship.relationshipNamePlural %>: [],
		<%_} else { _%>
		<%= relationship.relationshipName %>: null,
		<%_ } _%>
		<%_
		}
		_%>
	}
	<%_ for (const relationship of relationshipFields) {
	_%>
	export let <%= relationship.relationshipNamePlural %> = []
	<%_
	}
	_%>

	const dispatch = createEventDispatcher()

	<%_	for (field of fields.filter(field => (!field.id && !field.fieldTypeBoolean))) { _%>
	let valid<%= field.fieldNameCapitalized %> = false
	<%_ } _%>
	<%_ for (const relationship of relationshipFields) {
	_%>
	let valid<%= relationship.relationshipNameCapitalized %> = false
	<%_
	}
	_%>

	<%_	for (field of fields.filter(field => !field.id)) { _%>
	function update<%= field.fieldNameCapitalized %>(event) {
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = parseFromDatetimeLocalInput(event.target.value)
		<%_ } else if (field.fieldTypeBoolean) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.target.checked
		<%_ } else if (field.fieldIsEnum) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.detail.value
		<%_ } else if (field.fieldTypeBinary && !field.blobContentTypeText) { _%>
		getBase64FileData(event.target.files)
			.then(base64Data => {
				<%= entityInstance %>.<%= field.fieldName %> = base64Data
				<%= entityInstance %>.<%= field.fieldName %>ContentType = event.target.files[0].type
			})
			.catch(err => {
				<%= entityInstance %>.<%= field.fieldName %> = undefined
				<%= entityInstance %>.<%= field.fieldName %>ContentType = undefined
			})
		<%_ } else { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.target.value
		<%_ } _%>
	}
	<%_ } _%>
	<%_ for (const relationship of relationshipFields) {
	_%>
	function update<%= relationship.relationshipNameCapitalized %>(event) {
		<%_ if (relationship.relationshipManyToMany) { _%>
		<%= entityInstance %>.<%= relationship.relationshipNamePlural %> = event.detail.value
		<%_ } else { _%>
		<%= entityInstance %>.<%= relationship.relationshipName %> = event.detail.value
		<%_ } _%>
	}
	<%_
	}
	_%>

	$: validForm = <% let isFirst=true; for (field of fields.filter(field => (!field.id && !field.fieldTypeBoolean))) { %><% if(!isFirst) { %>
	&& <% } %> valid<%= field.fieldNameCapitalized %><%_ isFirst = false } _%><% for (const relationship of relationshipFields) {
	%>     && valid<%= relationship.relationshipNameCapitalized %><%
	}
	%>
</script>

<Form testId="add<%= entityAngularName %>">
	<%_	for (field of fields.filter(field => !field.id)) { _%>
	<%_ if (field.fieldTypeString
			|| field.fieldTypeUUID
			|| field.fieldTypeLocalDate
			|| field.fieldTypeZonedDateTime
			|| field.fieldTypeInstant
			|| field.fieldTypeNumeric
			|| field.fieldTypeDuration
			|| field.fieldTypeBinary) { _%>
	<InputControl
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		type="datetime-local"
		<%_ } else if (field.fieldTypeBinary && field.blobContentTypeText) { _%>
		type="textarea"
		<%_ } else if (field.fieldTypeBinary && !field.blobContentTypeText) { _%>
		type="file"
		<%_ } else if (field.fieldTypeNumeric) { _%>
		type="number"
		<%_ } else if (field.fieldTypeLocalDate) { _%>
		type="date"
		<%_ } else { _%>
		type="text"
		<%_ } _%>
		label="<%= field.fieldNameHumanized %>"
		name="<%= field.fieldName %>"
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		value="{formatToDatetimeLocalInput(<%= entityInstance %>.<%= field.fieldName %>)}"
		<%_ } else { _%>
		value="{<%= entityInstance %>.<%= field.fieldName %>}"
		<%_ } _%>
		<%_ if (field.fieldTypeBinary && !field.blobContentTypeText) { _%>
		on:change="{event => update<%= field.fieldNameCapitalized %>(event)}"
		<%_ } else { _%>
		on:input="{event => update<%= field.fieldNameCapitalized %>(event)}"
		<%_ } _%>
		<%_ if (field.fieldValidationRequired) { _%>
		required
		<%_ } _%>
		validations="{[
		<%_ if (field.fieldValidationRequired) { _%>
			{ type: 'required', message: '<%= field.fieldNameHumanized %> is mandatory' },
		<%_ } _%>
		<%_ if (field.fieldValidationMinLength) { _%>
			{
				type: 'minlength',
				minlength: <%= field.fieldValidateRulesMinlength %>,
				message: '<%= field.fieldNameHumanized %> should be greater than <%= field.fieldValidateRulesMinlength %> characters',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric) { _%>
			{
				type: 'numeric',
				message: '<%= field.fieldNameHumanized %> should be numeric',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric && field.fieldValidationMin) { _%>
			{
				type: 'min',
				min: <%= field.fieldValidateRulesMin %>,
				message: '<%= field.fieldNameHumanized %> should be at least <%= field.fieldValidateRulesMin %>',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric && field.fieldValidationMax) { _%>
			{
				type: 'max',
				max: <%= field.fieldValidateRulesMax %>,
				message: '<%= field.fieldNameHumanized %> cannot be more than <%= field.fieldValidateRulesMax %>',
			},
		<%_ } _%>
		<%_ if (field.fieldValidationMaxLength) { _%>
			{
				type: 'maxlength',
				maxlength: <%= field.fieldValidateRulesMaxlength %>,
				message: '<%= field.fieldNameHumanized %> cannot be longer than <%= field.fieldValidateRulesMaxlength %> characters',
			},
		<%_ } _%>
		]}"
		on:validate="{event => {
			valid<%= field.fieldNameCapitalized %> = event.detail.valid
		}}"
	/>
	<%_ } else if (field.fieldTypeBoolean) { _%>
	<div class="mt-1 mb-2 ml-1">
		<CheckboxControl
			name="<%= field.fieldName %>"
			checked="{<%= entityInstance %>.<%= field.fieldName %>}"
			on:change="{event => update<%= field.fieldNameCapitalized %>(event)}"
		><%= field.fieldNameHumanized %></CheckboxControl
		>
	</div>
	<%_ } else if (field.fieldIsEnum) { _%>
	<SelectControl
		name="<%= field.fieldName %>"
		label="<%= field.fieldNameHumanized %>"
		value="{<%= entityInstance %>.<%= field.fieldName %> ? [<%= entityInstance %>.<%= field.fieldName %>] : []}"
		options="{{
			data: Object.keys(<%= field.fieldType %>).map(<%= field.fieldName %> => ({
				name: <%= field.fieldName %>,
				value: <%= field.fieldName %>,
			}))
		}}"
		on:validate="{event => {
			valid<%= field.fieldNameCapitalized %> = event.detail.valid
		}}"
		validations="{[
		<%_ if (field.fieldValidationRequired) { _%>
			{ type: 'required', message: 'Select at least one <%= field.fieldNameHumanized %>' },
		<%_ } _%>
		]}"
		on:select="{event => update<%= field.fieldNameCapitalized %>(event)}"
	/>
	<%_ } _%>
	<%_ } _%>
	<%_ for (const relationship of relationshipFields) {
	_%>
	<SelectControl
		<%_ if (relationship.relationshipManyToMany) {_%>
		name="<%= relationship.relationshipNamePlural %>"
		label="<%= relationship.relationshipNameCapitalizedPlural %>"
		value="{<%= entityInstance %>.<%= relationship.relationshipNamePlural %>}"
		<%_} else { _%>
		name="<%= relationship.relationshipName %>"
		label="<%= relationship.relationshipNameHumanized %>"
		value="{<%= entityInstance %>.<%= relationship.relationshipName %> ? [<%= entityInstance %>.<%= relationship.relationshipName %>] : []}"
		<%_ } _%>
		<%_ if (relationship.relationshipManyToMany) {_%>
		multiple="true"
		<%_ } _%>
		options="{{
			nameField: '<%= relationship.otherEntityField %>',
			idField: '<%= relationship.otherEntity.primaryKey.name %>',
			data: <%= relationship.relationshipNamePlural %>.map(<%= relationship.relationshipFieldName %> => ({
				value: <%= relationship.relationshipFieldName %>,
			})),
		}}"
		on:validate="{event => {
			valid<%= relationship.relationshipNameCapitalized %> = event.detail.valid
		}}"
		validations="{[
		<%_ if (relationship.relationshipValidate
					&& (relationship.relationshipManyToOne || relationship.ownerSide)
					&& relationship.relationshipRequired) { _%>
			{ type: 'required', message: 'Select at least one <%= relationship.relationshipFieldName %>' },
		<%_ } _%>
		]}"
		on:select="{event => update<%= relationship.relationshipNameCapitalized %>(event)}"
	/>
	<%_ } _%>

	<div class="w-full p-4 flex flex-row justify-center items-center">
		<div class="mr-4">
			<Button
				name="cancelBtn"
				contextualColor="secondary"
				on:click="{() => dispatch('cancel')}"
			>
				<Icon classes="mr-2" icon="{faBan}" />Cancel
			</Button>
		</div>
		<div>
			<Button
				name="saveBtn"
				type="submit"
				on:click="{() => dispatch('saveorupdate', { ...<%= entityInstance %> })}"
				disabled="{!validForm}"
			>
				<Icon classes="mr-2" icon="{faSave}" />
				{<%= entityInstance %>.id ? 'Update ' : 'Create '}
				<%= entityClassHumanized %>
			</Button>
		</div>
	</div>
</Form>
