<%_
	const containsBooleanField = fields.find(field => field.fieldTypeBoolean);
	const containsEnumField = fields.find(field => field.fieldIsEnum);
	const containsBlobField = fields.find(field => field.fieldTypeBinary && !field.blobContentTypeText);
_%>
<script>
	import { createEventDispatcher } from 'svelte'
	import { faBan } from '@fortawesome/free-solid-svg-icons/faBan.js'
	import { faSave } from '@fortawesome/free-solid-svg-icons/faSave.js'

	import Button from '$lib/Button.svelte'
	import Icon from '$lib/Icon.svelte'
	import InputControl from '$lib/InputControl.svelte'
<%_ if (containsBooleanField) { _%>
	import CheckboxControl from '$lib/CheckboxControl.svelte'
<%_ } _%>
<%_ if (containsEnumField) { _%>
	import SelectControl from '$lib/SelectControl.svelte'
<%_ } _%>
	import Form from '$lib/page/Form.svelte'
	<%_	for (field of fields.filter(field => field.fieldIsEnum)) { _%>
	import <%= field.fieldType %> from '$lib/entities/enums/<%= field.fieldType %>'
	<%_ } _%>
<%_ if (containsBlobField) { _%>
    import { getBase64FileData } from '$lib/utils/data-util.js'
<%_ } _%>
	import {
		formatToDatetimeLocalInput,
		parseFromDatetimeLocalInput
	} from '$lib/utils/date'

	export let <%= entityInstance %> = {
		id: null,
	<%_	for (field of fields.filter(field => !field.id)) { _%>
		<%= field.fieldName %>: '',
	<%_ } _%>
	}

	const dispatch = createEventDispatcher()

	<%_	for (field of fields.filter(field => (!field.id && !field.fieldTypeBoolean))) { _%>
	let valid<%= field.fieldNameCapitalized %> = false
	<%_ } _%>

	<%_	for (field of fields.filter(field => !field.id)) { _%>
	function update<%= field.fieldNameCapitalized %>(event) {
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = parseFromDatetimeLocalInput(event.target.value)
		<%_ } else if (field.fieldTypeBoolean) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.target.checked
		<%_ } else if (field.fieldIsEnum) { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.detail.value
        <%_ } else if (field => field.fieldTypeBinary && !field.blobContentTypeText) { _%>
        getBase64FileData(event.target.files)
			.then(base64Data => {
				<%= entityInstance %>.<%= field.fieldName %> = base64Data
				<%= entityInstance %>.<%= field.fieldName %>ContentType =
					event.target.files[0].type
			})
			.catch(err => {
				<%= entityInstance %>.<%= field.fieldName %> = undefined
				<%= entityInstance %>.<%= field.fieldName %>ContentType = undefined
			})
		<%_ } else { _%>
		<%= entityInstance %>.<%= field.fieldName %> = event.target.value
		<%_ } _%>
	}
	<%_ } _%>

	$: validForm = <% let isFirst=true; for (field of fields.filter(field => (!field.id && !field.fieldTypeBoolean))) { %><% if(!isFirst) { %>
		&& <% } %> valid<%= field.fieldNameCapitalized %><%_ isFirst = false } _%>
</script>

<Form testId="add<%= entityAngularName %>">

<%_	for (field of fields.filter(field => !field.id)) { _%>
<%_ if (field.fieldTypeString
		|| field.fieldTypeUUID
		|| field.fieldTypeLocalDate
		|| field.fieldTypeZonedDateTime
		|| field.fieldTypeInstant
		|| field.fieldTypeNumeric
		|| field.fieldTypeDuration
		|| field.fieldTypeBinary) { _%>
	<InputControl
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		type="datetime-local"
		<%_ } else if (field.fieldTypeBinary && field.blobContentTypeText) { _%>
		type="textarea"
		<%_ } else if (field.fieldTypeBinary && !field.blobContentTypeText) { _%>
		type="file"
		<%_ } else if (field.fieldTypeNumeric) { _%>
		type="number"
		<%_ } else if (field.fieldTypeLocalDate) { _%>
		type="date"
		<%_ } else { _%>
		type="text"
		<%_ } _%>
		label="<%= field.fieldNameHumanized %>"
		name="<%= field.fieldName %>"
		<%_ if (field.fieldTypeInstant || field.fieldTypeZonedDateTime) { _%>
		value="{formatToDatetimeLocalInput(<%= entityInstance %>.<%= field.fieldName %>)}"
		<%_ } else { _%>
		value="{<%= entityInstance %>.<%= field.fieldName %>}"
		<%_ } _%>
        <%_ if (field.fieldTypeBinary && !field.blobContentTypeText) { _%>
        on:change="{event => update<%= field.fieldNameCapitalized %>(event)}"
        <%_ } else { _%>
		on:input="{event => update<%= field.fieldNameCapitalized %>(event)}"
        <%_ } _%>
		<%_ if (field.fieldValidationRequired) { _%>
		required
		<%_ } _%>
		validations="{[
		<%_ if (field.fieldValidationRequired) { _%>
			{ type: 'required', message: '<%= field.fieldNameHumanized %> is mandatory' },
		<%_ } _%>
		<%_ if (field.fieldValidationMinLength) { _%>
			{
				type: 'minlength',
				minlength: <%= field.fieldValidateRulesMinlength %>,
				message: '<%= field.fieldNameHumanized %> should be greater than <%= field.fieldValidateRulesMinlength %> characters',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric) { _%>
			{
				type: 'numeric',
				message: '<%= field.fieldNameHumanized %> should be numeric',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric && field.fieldValidationMin) { _%>
			{
				type: 'min',
				min: <%= field.fieldValidateRulesMin %>,
				message: '<%= field.fieldNameHumanized %> should be at least <%= field.fieldValidateRulesMin %>',
			},
		<%_ } _%>
		<%_ if (field.fieldTypeNumeric && field.fieldValidationMax) { _%>
			{
				type: 'max',
				max: <%= field.fieldValidateRulesMax %>,
				message: '<%= field.fieldNameHumanized %> cannot be more than <%= field.fieldValidateRulesMax %>',
			},
		<%_ } _%>
		<%_ if (field.fieldValidationMaxLength) { _%>
			{
				type: 'maxlength',
				maxlength: <%= field.fieldValidateRulesMaxlength %>,
				message: '<%= field.fieldNameHumanized %> cannot be longer than <%= field.fieldValidateRulesMaxlength %> characters',
			},
		<%_ } _%>
		]}"
		on:validate="{event => {
			valid<%= field.fieldNameCapitalized %> = event.detail.valid
		}}"
	/>
<%_ } else if (field.fieldTypeBoolean) { _%>
	<div class="mt-1 mb-2 ml-1">
		<CheckboxControl
			name="<%= field.fieldName %>"
			checked="{<%= entityInstance %>.<%= field.fieldName %>}"
			on:change="{event => update<%= field.fieldNameCapitalized %>(event)}"
			><%= field.fieldNameHumanized %></CheckboxControl
		>
	</div>
<%_ } else if (field.fieldIsEnum) { _%>
	<SelectControl
		name="<%= field.fieldName %>"
		label="<%= field.fieldNameHumanized %>"
		value="{<%= entityInstance %>.<%= field.fieldName %> ? [<%= entityInstance %>.<%= field.fieldName %>] : []}"
		options="{Object.keys(<%= field.fieldType %>).map(<%= field.fieldName %> => ({
			name: <%= field.fieldName %>,
			value: <%= field.fieldName %>,
		}))}"
		on:validate="{event => {
			valid<%= field.fieldNameCapitalized %> = event.detail.valid
		}}"
		validations="{[
		<%_ if (field.fieldValidationRequired) { _%>
			{ type: 'required', message: 'Select at least one <%= field.fieldNameHumanized %>' },
		<%_ } _%>
		]}"
		on:select="{event => update<%= field.fieldNameCapitalized %>(event)}"
	/>
<%_ } _%>
<%_ } _%>
	<div class="w-full p-4 flex flex-row justify-center items-center">
		<div class="mr-4">
			<Button
				name="cancelBtn"
				role="neutral"
				on:click="{() => dispatch('cancel')}"
			>
				<Icon classes="mr-2" icon="{faBan}" />Cancel
			</Button>
		</div>
		<div>
			<Button
				name="saveBtn"
				type="submit"
				on:click="{() => dispatch('saveorupdate', { ...<%= entityInstance %> })}"
				disabled="{!validForm}"
			>
				<Icon classes="mr-2" icon="{faSave}" />
				{<%= entityInstance %>.id ? 'Update ' : 'Create '}
				<%= entityInstance %>
			</Button>
		</div>
	</div>
</Form>
